/* Home Page Styles */
.home-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  background: linear-gradient(135deg, #e6e9ed 0%, #f0f2f5 100%);
  padding: 2rem 0rem;
}

.home-header {
  text-align: center;
  /* margin-bottom: 1rem; */
}

.home-header h1 {
  font-size: 2.5rem;
  color: #1e293b;
  margin: 0 0 0.5rem 0;
  font-weight: 800;
  letter-spacing: -0.5px;
}

.home-header p {
  font-size: 1.1rem;
  color: #64748b;
  margin: 0;
  font-weight: 500;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 80%;
  margin: 0 auto;

}

